body {
  background: #98dcfc;
  color: #222;

  margin: 0;
  padding: 24px; 
}


h1 {
    font-size: 44px;
    text-align: center;
    text-emphasis: bold;
}

h2 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 12px;
}

#paragraph2 {
  background-color: white;
  border: 4px solid green;   
  padding: 16px;             
  width: 900px;              
  line-height: 2;          
}

.blue {
  color: white;
  background-color: #030e75; 
  border: 3px solid #07245f;
  padding: 16px;
  line-height: 1.6;
  max-width: 100%;

}

ol {
  list-style-type: decimal-leading-zero;
  margin-left: 0;     
  padding-left: 24px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}

a[href*="w3schools"] {
  color: rgb(199, 3, 238);         
}

table {
  border-collapse: collapse;
}
th, td {
  border: 2px solid black;        
  padding: 8px;                   
  text-align: left;               
}

th {
  background-color: #cccccc;
  text-align: center;
}


td {
  background-color: white;
}




